@model OrderViewModel

<div class="card m-5">
    <h5 class="card-header">Order info</h5>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Order id:</b> @Model.OrderId</li>
            <li class="list-group-item"><b>First name:</b> @Model.FirstName</li>
            <li class="list-group-item"><b>Last name:</b> @Model.LastName</li>
            <li class="list-group-item"><b>Place number:</b> @Model.Number</li>
        </ul>
    </div>
</div>