<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Theatres orders</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-dark bg-dark">
        <a asp-action="index" class="navbar-brand">Theatre service</a>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
